
        .subscribe {
            background-color: #cc0000;
            color: white;
            border: none;
            padding: 10px 16px;
            border-radius: 2px;
            font-weight: bold;
        }

        .like {
            background-color: #f2f2f2;
            color: #030303;
            border: none;
            padding: 10px 16px;
            border-radius: 18px;
        }

        .share {
            background-color: #f2f2f2;
            color: #030303;
            border: none;
            padding: 10px 16px;
            border-radius: 18px;
        }

        .upload {
            background-color: transparent;
            color: #030303;
            border: none;
            padding: 8px;
        }