      *{
            margin:0;
            padding: 0;
        }
        body{
                font-family: Verdana, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
               font-size: 14px;
               line-height: 21px;

        }
          .navbar{
            background-color: white;
            display: flex;
            align-items: center;
            padding: 5px 5px;
            border:1 px solid white;
            box-shadow: 5px 5px 10px gray;
        }

          .links{
            display: flex;
            list-style: none;
            gap: 2rem;

        }

        .links a{
            text-decoration: none;
            color: black;
            font-size: 17px;
            font-weight: 600;
        }
        .logo{
            margin: 0 20px;
        }
        .magnify{
            margin: 0 40px;
        }
        .fa-solid{
            margin: 0 6px;

        }

        .links i{
            font-size: 13px;
        }