*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            font-family: "Satoshi", sans-serif;
        }

          .navbar{
            background-color:#FAF9F6;
            display: flex;
            align-items: center;
            padding: 5px 5px;

        }

          .links{
            display: flex;
            list-style: none;
            gap: 1rem;
        }

        .links a{
             text-decoration: none;
            color: black;
            font-size: 20px;

        }

        a:hover{
            color: #118aef;
        }
        .logo{
            margin: 10px 20px;
        }

        .btn{
            padding: 10px;
            color: white;
            background-color:#118aef;
            font-weight: 500;
            font-size: 15px;
            margin: 0 10px;
            border: 1px solid gray;
            outline: none;
            border-radius: 6px;
        }

         .bar{
            display: flex;
             justify-content: center;
             margin: 0 50px;
             border-radius: 6px;
             border:1px solid white;
             outline: none;
             
        

        }

       input {
           border: 1px solid gainsboro;
         height: 34px;
          font-size: 14px;
          font-weight: 300;
          border-radius: 4px;
          padding: 20px 30px;
          background-color:#d8d8d8;
}

        input::placeholder{
            color: black;

        }
         input::placeholder :hover{
            color:#118aef;


        }

         .btn1{
            padding: 10px;
            color: #118aef;
            background-color:white;
            font-weight: 400;
            font-size: 15px;
            margin: 0 30px;
            border: 1px solid #118aef;
            border-radius: 6px;
        }
        img{
            margin: 0 40px;
        }